body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DAD9D9 !important;
}

#logo {
    height: 80px;
    width: 150px;
}

.navbar {
    background-image: linear-gradient(to right, #fff, #C8C8C8, #3DB5E6, #004B98);
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

h1 {
    margin: 20px 0;
    color: #004B98;
    text-shadow: 2px 2px 4px #3DB5E6;
}

main {
    text-align: center;
    padding-top: 15px;
}

.ESA-container {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    border: 1px solid black; 
    
}

.word-display {
    font-size: 24px;
    margin: 20px 0;
}

input[type="text"] {
    text-transform: lowercase;
    font-size: 18px;
    width: 30px;
}

button {
    font-size: 16px;
}

.hidden {
    display: none;
}