body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DAD9D9 !important;
}

#logo {
    height: 80px;
    width: 150px;
}

.navbar {
    background-image: linear-gradient(to right, #fff, #C8C8C8, #3DB5E6, #004B98);
    text-align: center;
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

h1 {
    margin: 20px 0;
    color: #004B98;
    text-shadow: 2px 2px 4px #3DB5E6;
    display:inline-block;
}

main {
    text-align: center;
    padding-top: 15px;
}

#timer {
    font-size: xxx-large;
    padding-right: 10px;
    font-family: "Orbitron",sans-serif;
}

#Difficulty{
    display:none;
}

#timerBox{
    color:white;
    float:right;
    height: 80px;
    width: 150px;
    background-color: #004B98;
    padding-left: 10px;
    padding-right: 10px;
}

#wordbank{
    position:absolute;
    top:200px;
    right:150px;
    list-style-type: none;
}

#rand{
    display:none;
}

#rand:hover{
    background-color: red;
    border-color: red;
}

#start:hover{
    background-color: green;
    border-color: green;
}

.Box{
    height:100px;
    width:300px;
    margin: auto;
}

.container label{
    color:rgb(3, 70, 128);
}

.container input:checked ~ label{
    color:rgb(0, 163, 188);
}

.activeButton{
    background-color: grey;
    color:white;
}

.found{
    text-decoration: line-through;
}

.foundWord{
    background-color: rgb(68, 0, 255);
}